body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h1 span{
    color:orange;
}

.button{
    text-decoration: none;
    background: linear-gradient( orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color:white;
    font-weight: 700;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}

.half-width img{
    width: 100%;
}

section{
    padding-bottom: 60px;
}

.second-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h2{
    font-size: 40px;
}

.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;   
}
.third-section h3{
    color:orange;
}
.third-section div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}
